@import "bourbon/bourbon";
@import "neat/neat";
$desktop: 800px;
$border: 1px solid #333333;

html {
  box-sizing: border-box;
  list-style-type: none;
}
*, *:before, *:after {
  box-sizing: inherit;
}
h2 {
	text-align: center;
	padding: 1em;
	margin: 0;
}
a:link, a:visited {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}
.outer-cont {
	@include outer-container; 
}
/* ----------header--------------------------*/
.header {
	@include fill-parent;
	text-align: center;
	h1 {
		font-size: 2em;
    	margin: 2em 0 1em 0;
	}
}

/*-------------ng-view box--------------------*/
.mid-container {
	@include fill-parent;
	margin: 3em auto;
	overflow: hidden;
}
/*-------------Home View-------------------*/
.home-cont {
	@include fill-parent;
	padding: 1em;
    height: 10em;
	border: 1px solid;
	border-radius: 2em;
	text-align: center;

	@media(min-width: $desktop) {
		@include span-columns(4);
		@include shift(4);
	}
}
/*-------------New Meal View-------------------*/
.meal-charge-cont {
	@include fill-parent;

	@media(min-width: $desktop) {
		@include span-columns(4);
		@include shift(4);
	}
}
.meal-box {
	@include fill-parent;
	border: 1px solid;
	border-radius: 2em;
	
	label {
		border: 1px solid transparent;
	}
}
.charge-box {
	@include fill-parent;
	border: 1px solid;
	border-radius: 2em;
	margin-top: 1em;
	
	@media(max-width: $desktop) {
		margin-top: 2em;
	}
}
.btnLine {
	@include fill-parent;
	line-height: 2em;
	margin: 1em 0;
	.submitBtn-cont {
		display: inline-block;
		width: 50%;
		text-align: right;
		padding-right: 0.2em;
		height: 100%;
		margin: 0;
	}
	.clearBtn-cont {
		display: inline-block;
		height: 100%;
		margin: 0;
	}
}
/*-------------My Earnings View-------------------*/
.earn-cont {

	@media(min-width: $desktop) {
		@include span-columns(4);
		@include shift(4);
	}
}
.earn-box {
	@include fill-parent;
	border: 1px solid;
	border-radius: 2em;
	margin-top: 1em;
	
	@media(max-width: $desktop) {
		margin-top: 2em;
	}
}
.resetBtn-cont {
	@include reset-display;
	@include span-columns(12);
	display: block;
	line-height: 2em;
	margin: 1em 0;
	text-align: center;
	#resetBtn {

	}
}
/*-------------Components-------------------*/
.lineItem {
	@include fill-parent;
	line-height: 2em;
}
.label {
	display: inline-block;
	width: 50%;
	text-align: right;
	height: 100%;
	margin: 0;
}
.input {
	text-align: left;
	height: 100%;
	margin: 0;
}
.output {
	display: inline-block;
	text-align: left;
	height: 100%;
	margin: 0;
}

.error {
	@include fill-parent;
	color: red;
	text-align: center;
}
.footer {
	@include fill-parent;
	@include reset-display;
	line-height: 2em;
}

