<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Angular Waitstaff Calculator</title>
	<meta name="Angular JS Mad Libs" content="An AngularJS Mad Libs game">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css"/>
	<link rel="stylesheet" href="css/styles.css">
</head>
<body id="outer-container" ng-app="myApp" ng-controller="MyCtrl">
	<header class="header">
		<h1>Waitstaff Calculator</h1>
	</header>
	<section class="mid-container">
		
		<div class="meal-cont">
			<div class="meal-box">
				<h2>Enter the Meal Details</h2>
				<form class="meal-form" name="myForm"novalidate>
						<div class="lineItem">
							<label class="label">Base Meal Price: $</label>
							<input class="input" type="number" ng-model="baseMealPrice" name="baseMealPrice" placeholder="0.00" required>
						</div>
						<div class="lineItem" ng-if="myForm.$submitted" ng-messages="myForm.baseMealPrice.$error">
							<div class="error" ng-message="required">Enter the meal price</div>
						</div>
						
						<div class="lineItem">
							<label class="label">Tax Rate: $</label>
							<input class="input" type="number" ng-model="taxRate" name="taxRate" placeholder="0.00" required>
						</div>
						<div class="lineItem" ng-if="myForm.$submitted" ng-messages="myForm.taxRate.$error">
							<div class="error" ng-message="required">Enter the tax rate</div>
						</div>			
						
						<div class="lineItem">
							<label class="label">Tip Percentage: %</label>
							<input class="input" type="number" ng-model="tipPercentage" name="tipPercentage" placeholder="18" required ng-minlength="1">
						</div>
						<div class="lineItem" ng-if="myForm.$submitted" ng-messages="myForm.tipPercentage.$error">
							<div class="error" ng-message="required">Enter the tip percentage</div>
						</div>
								
						<div class="btnLine">
							<div class="submitBtn-cont">
								<button id="submitBtn">Submit</button>
							</div>
							<div class="cancelBtn-cont">
								<button id="cancelBtn">Cancel</button>
							</div>
						</div>
				</form>
			</div>
		</div>
		<div class="charge-earn-cont">
			<div class="charge-box">
				<h2>Customer Charges</h2>
				<div class="charge-form">
					<div class="lineItem">
						<div class="label">Subtotal: $</div>
						<div class="output">{{ subtotal }}</div>
					</div>
					<div class="lineItem">
						<div class="label">Tip: $</div>
						<div class="output">{{ tip }}</div>
					</div>
					<div class="lineItem">
						<div class="label">Total: $</div>
						<div class="output">{{ total }}</div>
					</div>
				</div>
			</div>
			<div class="earn-box">
				<h2>My Earnings Info</h2>
				<div class="earn-form">
					<div class="lineItem">
						<div class="label">Tip Total: $</div>
						<div class="output">{{ tipTotal }}</div>
					</div>
					<div class"lineItem">
						<div class="label">Meal Count: $</div>
						<div class="output">{{ mealCount }}</div>
					</div>
					<div class="lineItem">
						<div class="label">Average Tip per Meal: $</div>
						<div class="output">{{ tipPerMeal }}</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer">
		<div class="resetBtn-cont">
			<button id="resetBtn">Reset</button>
		</div>
	</footer>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script type="text/javascript" src="https://code.angularjs.org/1.4.5/angular-messages.min.js"></script>
	<script type="text/javascript" src="js/myApp.js"></script>
</body>
</html>