<div class="meal-charge-cont">
	<div class="meal-box">
		<h2>Enter the Meal Details</h2>
		<form class="meal-form" name="myForm" novalidate ng-submit="myForm.$valid && meal.submit()">
			<div class="lineItem">
				<label class="label">Base Meal Price: $</label>
				<input class="input" type="number" ng-model="meal.baseMealPrice" name="baseMealPrice" placeholder="0.00" ng-pattern="/\d*.\d{2}/" required>
			</div>
			<div class="lineItem" ng-if="myForm.$submitted" ng-messages="myForm.baseMealPrice.$error">
				<div class="error" ng-message="required">Enter the meal price</div>
				<div class="error" ng-message="pattern">Enter in form "0.00"</div>
			</div>
			
			<div class="lineItem">
				<label class="label">Tax Rate: $</label>
				<input class="input" type="number" ng-model="meal.taxRate" name="taxRate" placeholder="0.00" ng-pattern="/\d*.\d{2}/" required>
			</div>
			<div class="lineItem" ng-if="myForm.$submitted" ng-messages="myForm.taxRate.$error">
				<div class="error" ng-message="required">Enter the tax rate</div>
				<div class="error" ng-message="pattern">Enter in form "0.00"</div>
			</div>			
			
			<div class="lineItem">
				<label class="label">Tip Percentage: %</label>
				<input class="input" type="number" ng-model="meal.tipPercentage" name="tipPercentage" placeholder="18" required>
			</div>
			<div class="lineItem" ng-if="myForm.$submitted" ng-messages="myForm.tipPercentage.$error">
				<div class="error" ng-message="required">Enter the tip percentage</div>
			</div>
					
			<div class="btnLine">
				<div class="submitBtn-cont">
					<button id="submitBtn" type="submit">Submit</button>
				</div>
				<div class="clearBtn-cont">
					<button id="clearBtn" type="reset">Clear</button>
				</div>
			</div>
		</form>
	</div>
	<div class="charge-box">
		<h2>Customer Charges</h2>
		<div class="charge-form">
			<div class="lineItem">
				<div class="label">Subtotal: </div>
				<div class="output">{{ subTotal | currency }}</div>
			</div>
			<div class="lineItem">
				<div class="label">Tip: </div>
				<div class="output">{{ tip | currency }}</div>
			</div>
			<div class="lineItem">
				<div class="label">Total: </div>
				<div class="output">{{ total | currency }}</div>
			</div>
		</div>
	</div>
</div>
